<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../css/build.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Clubs Hub</title>
</head>
<body>
<div class="mx-auto mb-40 flex w-full flex-col items-center justify-start overflow-y-auto overflow-x-hidden bg-white">
    <nav class="max-w-7xl nav-bar">
        <div class="flex items-center justify-center gap-2">
            <a href="/index" class="text-xl font-semibold leading-loose text-black">Clubs Hub</a>
        </div>
        <div class="nav-bar-items">
            <div class="inline-flex items-center text-lg font-semibold secondary-button">
                <span>Explore Clubs</span>
                <div>
                    <img class="icon xs" src="../assets/icons/arrow/down.svg" alt="Search Icon">
                </div>
            </div>
            <div class="text-lg font-semibold secondary-button">
                <span>Events</span>
            </div>
            <div class="py-1 pr-4 pl-2">
                <img class="icon lg" src="../assets/icons/search.svg" alt="Search Icon">
            </div>
            <div class="primary-button">
                <a href="/login" class="text-xl font-semibold">Log in</a>
            </div>
        </div>
    </nav>
    <main class="mx-auto inline-flex max-w-7xl justify-center self-stretch py-20 pb-48 gap-[140px]">
        <div class="inline-flex flex-col items-center justify-center gap-8">
            <div class="text-center font-bold text-black text-[54px]">Explore Your Interests,<br/>Find
                Your Club.
            </div>
            <div class="text-center text-lg font-semibold leading-normal text-black">Connect with your
                fellow KFUPM students and explore<br/>a diverse range of clubs matching your interests.
            </div>
            <div class="inline-flex items-center justify-center gap-2">
                <div class="inline-flex flex-col items-center justify-center">
                    <div class="primary-button">
                        <span class="text-lg font-semibold">Join a Club</span>
                    </div>
                </div>
                <div class="inline-flex flex-col items-center justify-center">
                    <div class="secondary-button">
                        <span class="text-lg font-semibold">Start Your Club</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="inline-flex flex-col">
            <div class="text-center text-lg font-normal leading-normal text-black">
                Dig into categories to find cool clubs!
            </div>
            <div class="relative flex h-36 w-40">
                <div class="absolute top-full right-0 w-24 text-2xl font-medium text-black drop-shadow-lg cards-container">
                    <div class="-translate-y-20 bg-cyan-300 card rotate-[24deg]">Photography</div>
                    <div class="-translate-y-20 bg-purple-400 card rotate-[-24deg]">Public Speaking</div>
                    <div class="-translate-y-10 bg-green-400 card rotate-[27deg]">Engineering</div>
                    <div class="-translate-y-10 bg-amber-400 card rotate-[-27deg]">Social</div>
                    <div class="bg-red-400 card rotate-[30deg]">Sports</div>
                    <div class="bg-blue-400 card rotate-[-30deg]">Arts</div>
                </div>
            </div>
        </div>
    </main>
    <div class="flex flex-col items-center justify-start gap-8 self-stretch bg-fuchsia-300 bg-opacity-30 py-16 h-[540px]">
        <div class="flex flex-col items-center justify-start gap-2">
            <div class="text-center text-xl font-semibold leading-7 text-black">Don’t know where to start?</div>
            <div class="text-center text-base font-normal leading-snug text-black">Explore popular clubs</div>
        </div>

        <div class="relative flex w-full overflow-hidden">
            <div data-arrow-dir="left"
                 class="absolute z-50 ml-6 bg-black/10 cards-ribbon-arrow top-[40%] tab circular">
                <img class="icon !w-12 !h-12" src="../assets/icons/arrow/left.svg" alt="">
            </div>
            <div data-arrow-dir="right"
                 class="absolute right-0 z-50 mr-6 bg-black/10 cards-ribbon-arrow top-[40%] tab circular">
                <img class="icon !w-12 !h-12" src="../assets/icons/arrow/right.svg" alt="">
            </div>
            <div id="cards-ribbon" style="scrollbar-width: none;"
                 class="flex w-full gap-4 overflow-x-auto overflow-y-hidden px-80 py-4">
                <div class="relative min-w-[406px] min-h-[300px]">
                    <div class="absolute inline-flex items-start justify-start rounded-2xl bg-white shadow-md left-[0.50px] top-[42.49px]">
                        <div class="absolute overflow-hidden rounded-2xl">
                            <svg width="160" height="224" viewBox="0 0 184 257" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter0_d_492_36)">
                                    <path d="M0.5 256.36V0.360338C0.5 0.360338 140.568 -58.8436 171.248 0.360338C177.272 11.9849 179.248 19.2676 179.248 32.3603C179.248 45.4531 171.248 51.2676 171.248 64.3603C171.248 77.4531 179.248 83.2676 179.248 96.3603C179.248 109.453 171.248 115.268 171.248 128.36C171.248 141.453 179.248 147.268 179.248 160.36C179.248 173.453 171.248 179.268 171.248 192.36C171.248 205.453 179.248 211.268 179.248 224.36C179.248 237.453 177.272 244.736 171.248 256.36C140.568 315.564 0.5 256.36 0.5 256.36Z"
                                          fill="url(#paint0_linear_492_36)" fill-opacity="0.7"
                                          shape-rendering="crispEdges"/>
                                </g>
                                <defs>
                                    <filter id="filter0_d_492_36" x="-3.5" y="-25.9525" width="186.748" height="316.626"
                                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix"
                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                                       result="hardAlpha"/>
                                        <feOffset dy="4"/>
                                        <feGaussianBlur stdDeviation="2"/>
                                        <feComposite in2="hardAlpha" operator="out"/>
                                        <feColorMatrix type="matrix"
                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix"
                                                 result="effect1_dropShadow_492_36"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_492_36"
                                                 result="shape"/>
                                    </filter>
                                    <linearGradient id="paint0_linear_492_36" x1="89.5" y1="2.36034" x2="89.5"
                                                    y2="255.86" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#CF0000" offset="0"/>
                                        <stop offset="1" stop-color="#B1CD00"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="z-20 flex h-64 items-center justify-center pr-4 w-[178.75px] pt-[70px] gap-2.5">
                            <div class="inline-flex flex-col items-center justify-center">
                                <button class="inline-flex items-center justify-center gap-1 rounded-md border-2 border-white bg-white p-2 shadow hover:!border-black transition-all">
                                    <span class="font-semibold leading-snug text-black">Visit Profile</span>
                                </button>
                            </div>
                        </div>
                        <div class="inline-flex h-64 w-64 flex-col items-center justify-between py-6">
                            <div class="flex flex-col items-center justify-center gap-2">
                                <div class="text-lg font-semibold leading-normal text-black">Media Club</div>
                                <div class="inline-flex items-center justify-center gap-1">
                                    <span class="chip text-xs !px-2 !py-0 !cursor-auto">Films</span>
                                    <span class="chip text-xs !px-2 !py-0 !cursor-auto">Podcasts</span>
                                </div>
                                <div class="inline-flex items-center justify-center px-4 py-1.5">
                                    <div class="text-center text-xs font-semibold leading-none text-gray-800">
                                        A messenger in the service of students, the university and the community.
                                    </div>
                                </div>
                            </div>
                            <div class="inline-flex items-center justify-center gap-9 w-[158px]">
                                <div class="inline-flex flex-col items-center justify-start">
                                    <img class="icon xs"
                                         style="filter: invert(16%) sepia(63%) saturate(7341%) hue-rotate(227deg) brightness(101%) contrast(107%);"
                                         src="../assets/icons/groups.svg" alt="">
                                    <div class="text-center text-xs font-semibold leading-none text-black">
                                        734
                                    </div>
                                    <div class="text-center font-semibold text-black text-[10px]">
                                        Members
                                    </div>
                                </div>
                                <div class="inline-flex flex-col items-center justify-start">
                                    <img class="icon xs"
                                         style="filter: invert(13%) sepia(97%) saturate(7456%) hue-rotate(340deg) brightness(92%) contrast(107%);"
                                         src="../assets/icons/event.svg" alt="">
                                    <div class="text-center text-xs font-semibold leading-none text-black">
                                        67
                                    </div>
                                    <div class="text-center font-semibold text-black text-[10px]">
                                        Events
                                    </div>
                                </div>
                                <div class="inline-flex flex-col items-center justify-start">
                                    <img class="icon xs"
                                         style="filter: invert(67%) sepia(70%) saturate(6642%) hue-rotate(1deg) brightness(104%) contrast(104%);"
                                         src="../assets/icons/person.svg" alt="">
                                    <div class="text-center text-xs font-semibold leading-none text-black">
                                        1407
                                    </div>
                                    <div class="text-center font-semibold text-black text-[10px]">
                                        Points
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pointer-events-none absolute z-10 h-24 w-24 rounded-3xl bg-white opacity-95 shadow left-[39.50px] top-[-0.38px]">
                        <img class="p-1" src="../assets/icons/logo/media_club.png" alt="Media Club Logo"/>
                    </div>
                </div>
                <div class="relative min-w-[406px] min-h-[300px]">
                    <div class="absolute inline-flex items-start justify-start rounded-2xl bg-white shadow-md left-[0.50px] top-[42.49px]">
                        <div class="absolute overflow-hidden rounded-2xl">
                            <svg width="160" height="224" viewBox="0 0 184 257" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter2)">
                                    <path d="M0.5 256.36V0.360338C0.5 0.360338 140.568 -58.8436 171.248 0.360338C177.272 11.9849 179.248 19.2676 179.248 32.3603C179.248 45.4531 171.248 51.2676 171.248 64.3603C171.248 77.4531 179.248 83.2676 179.248 96.3603C179.248 109.453 171.248 115.268 171.248 128.36C171.248 141.453 179.248 147.268 179.248 160.36C179.248 173.453 171.248 179.268 171.248 192.36C171.248 205.453 179.248 211.268 179.248 224.36C179.248 237.453 177.272 244.736 171.248 256.36C140.568 315.564 0.5 256.36 0.5 256.36Z"
                                          fill="url(#paint2)" fill-opacity="0.7"
                                          shape-rendering="crispEdges"/>
                                </g>
                                <defs>
                                    <filter id="filter2" x="-3.5" y="-25.9525" width="186.748" height="316.626"
                                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix"
                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                                       result="hardAlpha"/>
                                        <feOffset dy="4"/>
                                        <feGaussianBlur stdDeviation="2"/>
                                        <feComposite in2="hardAlpha" operator="out"/>
                                        <feColorMatrix type="matrix"
                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix"
                                                 result="effect1_dropShadow_492_36"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_492_36"
                                                 result="shape"/>
                                    </filter>
                                    <linearGradient id="paint2" x1="89.5" y1="2.36034" x2="89.5"
                                                    y2="255.86" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#5EC5FF" offset="0"/>
                                        <stop offset="1" stop-color="#BE33FF"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="z-20 flex h-64 items-center justify-center pr-4 w-[178.75px] pt-[70px] gap-2.5">
                            <div class="inline-flex flex-col items-center justify-center">
                                <button class="inline-flex items-center justify-center gap-1 rounded-md border-2 border-white bg-white p-2 shadow hover:!border-black transition-all">
                                    <span class="font-semibold leading-snug text-black">Visit Profile</span>
                                </button>
                            </div>
                        </div>
                        <div class="inline-flex h-64 w-64 flex-col items-center justify-between py-6">
                            <div class="flex flex-col items-center justify-center gap-2">
                                <div class="text-lg font-semibold leading-normal text-black">Media Club</div>
                                <div class="inline-flex items-center justify-center gap-1">
                                    <span class="chip text-xs !px-2 !py-0 !cursor-auto">Films</span>
                                    <span class="chip text-xs !px-2 !py-0 !cursor-auto">Podcasts</span>
                                </div>
                                <div class="inline-flex items-center justify-center px-4 py-1.5">
                                    <div class="text-center text-xs font-semibold leading-none text-gray-800">
                                        A messenger in the service of students, the university and the community.
                                    </div>
                                </div>
                            </div>
                            <div class="inline-flex items-center justify-center gap-9 w-[158px]">
                                <div class="inline-flex flex-col items-center justify-start">
                                    <img class="icon xs"
                                         style="filter: invert(16%) sepia(63%) saturate(7341%) hue-rotate(227deg) brightness(101%) contrast(107%);"
                                         src="../assets/icons/groups.svg" alt="">
                                    <div class="text-center text-xs font-semibold leading-none text-black">
                                        734
                                    </div>
                                    <div class="text-center font-semibold text-black text-[10px]">
                                        Members
                                    </div>
                                </div>
                                <div class="inline-flex flex-col items-center justify-start">
                                    <img class="icon xs"
                                         style="filter: invert(13%) sepia(97%) saturate(7456%) hue-rotate(340deg) brightness(92%) contrast(107%);"
                                         src="../assets/icons/event.svg" alt="">
                                    <div class="text-center text-xs font-semibold leading-none text-black">
                                        67
                                    </div>
                                    <div class="text-center font-semibold text-black text-[10px]">
                                        Events
                                    </div>
                                </div>
                                <div class="inline-flex flex-col items-center justify-start">
                                    <img class="icon xs"
                                         style="filter: invert(67%) sepia(70%) saturate(6642%) hue-rotate(1deg) brightness(104%) contrast(104%);"
                                         src="../assets/icons/person.svg" alt="">
                                    <div class="text-center text-xs font-semibold leading-none text-black">
                                        1407
                                    </div>
                                    <div class="text-center font-semibold text-black text-[10px]">
                                        Points
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pointer-events-none absolute z-10 h-24 w-24 rounded-3xl bg-white opacity-95 shadow left-[39.50px] top-[-0.38px]">
                        <img class="p-1" src="../assets/icons/logo/media_club.png" alt="Media Club Logo"/>
                    </div>
                </div>
                <div class="relative min-w-[406px] min-h-[300px]">
                    <div class="absolute inline-flex items-start justify-start rounded-2xl bg-white shadow-md left-[0.50px] top-[42.49px]">
                        <div class="absolute overflow-hidden rounded-2xl">
                            <svg width="160" height="224" viewBox="0 0 184 257" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter3)">
                                    <path d="M0.5 256.36V0.360338C0.5 0.360338 140.568 -58.8436 171.248 0.360338C177.272 11.9849 179.248 19.2676 179.248 32.3603C179.248 45.4531 171.248 51.2676 171.248 64.3603C171.248 77.4531 179.248 83.2676 179.248 96.3603C179.248 109.453 171.248 115.268 171.248 128.36C171.248 141.453 179.248 147.268 179.248 160.36C179.248 173.453 171.248 179.268 171.248 192.36C171.248 205.453 179.248 211.268 179.248 224.36C179.248 237.453 177.272 244.736 171.248 256.36C140.568 315.564 0.5 256.36 0.5 256.36Z"
                                          fill="url(#paint3)" fill-opacity="0.7"
                                          shape-rendering="crispEdges"/>
                                </g>
                                <defs>
                                    <filter id="filter3" x="-3.5" y="-25.9525" width="186.748" height="316.626"
                                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix"
                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                                       result="hardAlpha"/>
                                        <feOffset dy="4"/>
                                        <feGaussianBlur stdDeviation="2"/>
                                        <feComposite in2="hardAlpha" operator="out"/>
                                        <feColorMatrix type="matrix"
                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix"
                                                 result="effect1_dropShadow_492_36"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_492_36"
                                                 result="shape"/>
                                    </filter>
                                    <linearGradient id="paint3" x1="89.5" y1="2.36034" x2="89.5"
                                                    y2="255.86" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#00CF3A" offset="0"/>
                                        <stop offset="1" stop-color="#00C1CD"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="z-20 flex h-64 items-center justify-center pr-4 w-[178.75px] pt-[70px] gap-2.5">
                            <div class="inline-flex flex-col items-center justify-center">
                                <button class="inline-flex items-center justify-center gap-1 rounded-md border-2 border-white bg-white p-2 shadow hover:!border-black transition-all">
                                    <span class="font-semibold leading-snug text-black">Visit Profile</span>
                                </button>
                            </div>
                        </div>
                        <div class="inline-flex h-64 w-64 flex-col items-center justify-between py-6">
                            <div class="flex flex-col items-center justify-center gap-2">
                                <div class="text-lg font-semibold leading-normal text-black">Media Club</div>
                                <div class="inline-flex items-center justify-center gap-1">
                                    <span class="chip text-xs !px-2 !py-0 !cursor-auto">Films</span>
                                    <span class="chip text-xs !px-2 !py-0 !cursor-auto">Podcasts</span>
                                </div>
                                <div class="inline-flex items-center justify-center px-4 py-1.5">
                                    <div class="text-center text-xs font-semibold leading-none text-gray-800">
                                        A messenger in the service of students, the university and the community.
                                    </div>
                                </div>
                            </div>
                            <div class="inline-flex items-center justify-center gap-9 w-[158px]">
                                <div class="inline-flex flex-col items-center justify-start">
                                    <img class="icon xs"
                                         style="filter: invert(16%) sepia(63%) saturate(7341%) hue-rotate(227deg) brightness(101%) contrast(107%);"
                                         src="../assets/icons/groups.svg" alt="">
                                    <div class="text-center text-xs font-semibold leading-none text-black">
                                        734
                                    </div>
                                    <div class="text-center font-semibold text-black text-[10px]">
                                        Members
                                    </div>
                                </div>
                                <div class="inline-flex flex-col items-center justify-start">
                                    <img class="icon xs"
                                         style="filter: invert(13%) sepia(97%) saturate(7456%) hue-rotate(340deg) brightness(92%) contrast(107%);"
                                         src="../assets/icons/event.svg" alt="">
                                    <div class="text-center text-xs font-semibold leading-none text-black">
                                        67
                                    </div>
                                    <div class="text-center font-semibold text-black text-[10px]">
                                        Events
                                    </div>
                                </div>
                                <div class="inline-flex flex-col items-center justify-start">
                                    <img class="icon xs"
                                         style="filter: invert(67%) sepia(70%) saturate(6642%) hue-rotate(1deg) brightness(104%) contrast(104%);"
                                         src="../assets/icons/person.svg" alt="">
                                    <div class="text-center text-xs font-semibold leading-none text-black">
                                        1407
                                    </div>
                                    <div class="text-center font-semibold text-black text-[10px]">
                                        Points
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pointer-events-none absolute z-10 h-24 w-24 rounded-3xl bg-white opacity-95 shadow left-[39.50px] top-[-0.38px]">
                        <img class="p-1" src="../assets/icons/logo/media_club.png" alt="Media Club Logo"/>
                    </div>
                </div>
                <div class="relative min-w-[406px] min-h-[300px]">
                    <div class="absolute inline-flex items-start justify-start rounded-2xl bg-white shadow-md left-[0.50px] top-[42.49px]">
                        <div class="absolute overflow-hidden rounded-2xl">
                            <svg width="160" height="224" viewBox="0 0 184 257" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <g filter="url(#filter4)">
                                    <path d="M0.5 256.36V0.360338C0.5 0.360338 140.568 -58.8436 171.248 0.360338C177.272 11.9849 179.248 19.2676 179.248 32.3603C179.248 45.4531 171.248 51.2676 171.248 64.3603C171.248 77.4531 179.248 83.2676 179.248 96.3603C179.248 109.453 171.248 115.268 171.248 128.36C171.248 141.453 179.248 147.268 179.248 160.36C179.248 173.453 171.248 179.268 171.248 192.36C171.248 205.453 179.248 211.268 179.248 224.36C179.248 237.453 177.272 244.736 171.248 256.36C140.568 315.564 0.5 256.36 0.5 256.36Z"
                                          fill="url(#paint4)" fill-opacity="0.7"
                                          shape-rendering="crispEdges"/>
                                </g>
                                <defs>
                                    <filter id="filter4" x="-3.5" y="-25.9525" width="186.748" height="316.626"
                                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                        <feColorMatrix in="SourceAlpha" type="matrix"
                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                                       result="hardAlpha"/>
                                        <feOffset dy="4"/>
                                        <feGaussianBlur stdDeviation="2"/>
                                        <feComposite in2="hardAlpha" operator="out"/>
                                        <feColorMatrix type="matrix"
                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                        <feBlend mode="normal" in2="BackgroundImageFix"
                                                 result="effect1_dropShadow_492_36"/>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_492_36"
                                                 result="shape"/>
                                    </filter>
                                    <linearGradient id="paint4" x1="89.5" y1="2.36034" x2="89.5"
                                                    y2="255.86" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#EBFF00" offset="0"/>
                                        <stop offset="1" stop-color="#3EA200"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="z-20 flex h-64 items-center justify-center pr-4 w-[178.75px] pt-[70px] gap-2.5">
                            <div class="inline-flex flex-col items-center justify-center">
                                <button class="inline-flex items-center justify-center gap-1 rounded-md border-2 border-white bg-white p-2 shadow hover:!border-black transition-all">
                                    <span class="font-semibold leading-snug text-black">Visit Profile</span>
                                </button>
                            </div>
                        </div>
                        <div class="inline-flex h-64 w-64 flex-col items-center justify-between py-6">
                            <div class="flex flex-col items-center justify-center gap-2">
                                <div class="text-lg font-semibold leading-normal text-black">Media Club</div>
                                <div class="inline-flex items-center justify-center gap-1">
                                    <span class="chip text-xs !px-2 !py-0 !cursor-auto">Films</span>
                                    <span class="chip text-xs !px-2 !py-0 !cursor-auto">Podcasts</span>
                                </div>
                                <div class="inline-flex items-center justify-center px-4 py-1.5">
                                    <div class="text-center text-xs font-semibold leading-none text-gray-800">
                                        A messenger in the service of students, the university and the community.
                                    </div>
                                </div>
                            </div>
                            <div class="inline-flex items-center justify-center gap-9 w-[158px]">
                                <div class="inline-flex flex-col items-center justify-start">
                                    <img class="icon xs"
                                         style="filter: invert(16%) sepia(63%) saturate(7341%) hue-rotate(227deg) brightness(101%) contrast(107%);"
                                         src="../assets/icons/groups.svg" alt="">
                                    <div class="text-center text-xs font-semibold leading-none text-black">
                                        734
                                    </div>
                                    <div class="text-center font-semibold text-black text-[10px]">
                                        Members
                                    </div>
                                </div>
                                <div class="inline-flex flex-col items-center justify-start">
                                    <img class="icon xs"
                                         style="filter: invert(13%) sepia(97%) saturate(7456%) hue-rotate(340deg) brightness(92%) contrast(107%);"
                                         src="../assets/icons/event.svg" alt="">
                                    <div class="text-center text-xs font-semibold leading-none text-black">
                                        67
                                    </div>
                                    <div class="text-center font-semibold text-black text-[10px]">
                                        Events
                                    </div>
                                </div>
                                <div class="inline-flex flex-col items-center justify-start">
                                    <img class="icon xs"
                                         style="filter: invert(67%) sepia(70%) saturate(6642%) hue-rotate(1deg) brightness(104%) contrast(104%);"
                                         src="../assets/icons/person.svg" alt="">
                                    <div class="text-center text-xs font-semibold leading-none text-black">
                                        1407
                                    </div>
                                    <div class="text-center font-semibold text-black text-[10px]">
                                        Points
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pointer-events-none absolute z-10 h-24 w-24 rounded-3xl bg-white opacity-95 shadow left-[39.50px] top-[-0.38px]">
                        <img class="p-1" src="../assets/icons/logo/media_club.png" alt="Media Club Logo"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../common/base.js"></script>
</body>
</html>