label{
    font-size: 14px; 
    font-family: 'Segoe UI'; 
    font-weight: 600;
    display: flex;
    gap: 8px;
}

input{
    background-color: #f0f0f0; 
    border-bottom: 1px solid #000; 
    border-radius: 4px; 
    padding: 12px; 
    gap: 10px;
}

.trd{
    background-color: white;
}

.trd:hover{
    background-color: #E9EAE8;
}

.link{
    color:#0094AF;
}

.link:link{
    color:#0094AF;
    text-decoration: none;
}

.link:visited{
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.modal-footer {   
    border-top: 0px; 
}